<form asp-controller="Home" asp-action="Delete">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Deletar Pessoa</h5>
            <p class="card-text">Voce Deseja Expurgar Essa Pessoa do Sistema?</p>
            <input type="submit" value="Sim" class="btn btn-outline-danger" />
            <input type="submit" value="Não" class="btn btn-outline-primary" />
            <input type="submit" value="Talvez" class="btn btn-outline-warning" />
        </div>
    </div>
</form>
